@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #0c1931;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}


.navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 25px 9%;
        /* background: rgb(123, 108, 216); */
        /* background-color: #282c34; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        animation: show-content 1.5s linear forwards;
        animation-delay: 0.2s;

    }

    @keyframes show-content {
        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    .navbar .logo {
        font-size: 30px;
        font-weight: 700;
    }

    .navbar ul {
        display: flex;
    }

    .navbar ul li {
        list-style: none;
        margin-left: 35px;
    }

    .navbar ul li a {
        font-size: 20px;
        font-weight: 500;
        transition: 0.5s;
    }

    .navbar ul li:hover a,
    .navbar ul li.active a {
        color: rgb(134, 219, 134);
    }

a {
    color: #fff;
    text-decoration: none;
}

.home-img .img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 32vw;
    /* background:red; */
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;

}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, rgb(49, 214, 49));
    transform: rotate(0deg);
    animation: rotate_border 10s linear infinite;

}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate_border {
    100% {
        transform: rotate(360deg);
    }

}

.home-img .img-box .img-itm {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 0.1px solid #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-itm img {
    top: -15px;
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;

}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    gap: 50px;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}


.hone_info h2 {
    /* display: inline-block; */
    font-size: 32px;
    margin-top: -10px;
}



.hone_info .btn-sci {
    /* display: flex; */
    align-items: center;
}

.btn {
    /* display: inline-block; */
    padding: 10px 30px;
    background: rgb(94, 174, 94);
    border: 2px solid rgb(49, 214, 49);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(153, 230, 153);
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: rgb(124, 231, 124);
    box-shadow: none;

}

.hone_info .btn-sci .sci {
    margin-left: 20px;

}


.hone_info .btn-sci .sci a {
    display: inline-block;
    /* margin: 10px 0; */
    padding: 8px;
    border: 2px solid rgb(49, 214, 49);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(49, 214, 49);
    margin: 0 8px;
    transition: 0.5s;
}

.hone_info .btn-sci .sci a:hover {
    background-color: rgb(49, 214, 49);
    color: #1f242d;
    box-shadow: 0 0 10px rgb(153, 230, 153);
}