@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #020c1e;
    color: #fff;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #0c1931;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* .navb {
    font-size: 45px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-text-stroke: 0.8px rgb(215, 64, 145);

} */


.navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 25px 9%;
        /* background: rgb(123, 108, 216); */
        /* background-color: #282c34; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        animation: show-content 1.5s linear forwards;
        animation-delay: 0.2s;
        /* -webkit-text-stroke: 0.8px rgb(215, 64, 145); */

    }

    @keyframes show-content {
        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    .navbar .logo {
        font-size: 30px;
        font-weight: 700;
    }

    .navbar ul {
        display: flex;
    }

    .navbar ul li {
        list-style: none;
        margin-left: 35px;
    }

    .navbar ul li a {
        font-size: 20px;
        font-weight: 500;
        transition: 0.5s;
    }

    .navbar ul li:hover a,
    .navbar ul li.active a {
        color: rgb(134, 219, 134);
    }
.skill {
    margin-top: 150px;
    position: relative;
    height: 1350px;
    width: 100%;
    /* border: 2px solid red; */
    /* padding-top: 200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

}

hr.custom {
    height: 4px;
    background-color: #ee910e;
    border: none;
    margin: 25px 0;
}


.skill div h1 {
    /* font-size: 45px;
    font-weight: 600; */
    -webkit-text-stroke: 0.7px rgb(94, 174, 94);
}

.txt a {
    display: inline-block;
    padding: 8px;
    border: 2px solid rgb(49, 214, 49);
    border-radius: 50%;
    font-size: 30px;
    /* font: 20; */
    color: rgb(12, 231, 122);
    margin: 0 30px;
    transition: 0.5s;
}

.txt a:hover {
    background-color: rgb(49, 214, 49);
    color: #1f242d;
    box-shadow: 0 0 10px rgb(153, 230, 153);
}